.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1.875rem;
}

.page-content {
  width: 100vw;
}

.wrapper {
  max-width: calc(100% - 36px);
  padding: 0 66px;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.contacts-list {

}

.contact-form form {
  display: flex;
  flex-direction: column;
}